#**Analisis dan Klasifikasi Data dari data d**i https://github.com/datasets/breast-cancer/blob/master/data/breast-cancer.csv

Dataset breast cancer memiliki 10 kolom dengan type data categorical dan numeric serta dalam dataset breast cancer terdapat 2720 data. untuk klasifikasi menggunakan naive bayes kita gunakan.

Untuk mengimplementasikan Klasifikasi Naive Bayes, kita akan menggunakan Dataset Bunga Iris yang sangat terkenal yang terdiri dari 3 kelas bunga. Dalam hal ini, ada 4 variabel independen yaitu, sepal_length , sepal_width , petal_length dan petal_width . Variabel dependen adalah spesies yang akan kita perkirakan dengan menggunakan empat fitur independen bunga.

###**Import  Library**

ketika kita akan melakukan klsifikasi dengan menggunakan python, langkah pertama lakukan import library. Library yang antara lain library pandas, numpy.
library pandas digunakan karna Pandas merupakan library Python yang dapat membantu untuk mengatur data mentah menjadi lebih terstruktur dan siap untuk dianalisis seperti mempermudah perbandingan data, penggabungan data, menangani data yang hilang (null). Struktur data dari Pandas sendiri biasa dikenal sebagai DataFrame. sedangkan, library numpy merupakan singkatan dari Numerical Python. Biasanya library ini digunakan untuk menghitung operasi matematika pada array.

In [1]:
import pandas as pd
import numpy as np

##**Memasukkan Dataset ke variabel dataframe**
Langkah selanjutnya adalah memasukkan dataset ke dalam dataframe supaya kebih mudah untuk melakukan klasifikasi data.
memasukkan dataset ke dalam data frame jika datanya berbentuk csv bisa menggunakan fungsi **pd.read_csv()**

In [7]:
dataset = pd.read_csv('https://raw.githubusercontent.com/datasets/breast-cancer/master/data/breast-cancer.csv')
dataset.head(15)

,age,mefalsepause,tumor-size,inv-falsedes,falsede-caps,deg-malig,breast,breast-quad,irradiat,class
0,40-49,premefalse,15-19,0-2,True,3,right,left_up,False,recurrence-events
1,50-59,ge40,15-19,0-2,False,1,right,central,False,false-recurrence-events
2,50-59,ge40,35-39,0-2,False,2,left,left_low,False,recurrence-events
3,40-49,premefalse,35-39,0-2,True,3,right,left_low,True,false-recurrence-events
4,40-49,premefalse,30-34,3-5,True,2,left,right_up,False,recurrence-events
5,50-59,premefalse,25-29,3-5,False,2,right,left_up,True,false-recurrence-events
6,50-59,ge40,40-44,0-2,False,3,left,left_up,False,false-recurrence-events
7,40-49,premefalse,10-14,0-2,False,2,left,left_up,False,false-recurrence-events
8,40-49,premefalse,0-4,0-2,False,2,right,right_low,False,false-recurrence-events
9,40-49,ge40,40-44,15-17,True,2,right,left_up,True,false-recurrence-events
10,50-59,premefalse,25-29,0-2,False,2,left,left_low,False,false-recurrence-events
11,60-69,ge40,15-19,0-2,False,2,right,left_up,False,false-recurrence-events
12,50-59,ge40,30-34,0-2,False,1,right,central,False,false-recurrence-events
13,50-59,ge40,25-29,0-2,False,2,right,left_up,False,false-recurrence-events
14,40-49,premefalse,25-29,0-2,False,2,left,left_low,True,recurrence-events

##**Melihat Informasi Dataset**
untuk melihat informasi dataset dapat digunakan fungsi *dataset.info()* .
dari fungsi tersebut di dapatkan informasi terdapat 10 kolom/ fitur data.
dengan type data categorical dan numeric.

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           272 non-null    object
 1   mefalsepause  272 non-null    object
 2   tumor-size    272 non-null    object
 3   inv-falsedes  272 non-null    object
 4   falsede-caps  264 non-null    object
 5   deg-malig     272 non-null    int64
 6   breast        272 non-null    object
 7   breast-quad   271 non-null    object
 8   irradiat      272 non-null    bool
 9   class         272 non-null    object
dtypes: bool(1), int64(1), object(8)
memory usage: 19.5+ KB

##**Memeriksa dataset Apakah ada deret kosong atau tidak**
memeriksa dataset dapat di lakukan dengan fungsi dataset.empty,
jika hasil run menunjukkan false maka tidak ada baris data kosong dalam dataset

In [9]:
dataset.empty

False

##**Melihat Ukuran data**
melihat ukuran data dengan menggunakan fungsi dataset.size
dari fungsi di adapatkan data breast-cancer yang di gunakan dalam analisis dan klasifikasi saat ini sebanyak 2720 row

In [10]:
dataset.size

2720

In [12]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [13]:
col_names = ['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps', 'deg-malig', 'breast', 'breast-quad', 'irradiat', 'class']

dataset.columns = col_names

dataset.columns

Index(['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps',
       'deg-malig', 'breast', 'breast-quad', 'irradiat', 'class'],
      dtype='object')

In [14]:
categorical = [var for var in dataset.columns if dataset[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 8 categorical variables

The categorical variables are :

 ['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps', 'breast', 'breast-quad', 'class']

In [15]:
dataset[categorical].head()

,age,mefalsepause,tumor-size,inv-falsedes,falsede-caps,breast,breast-quad,class
0,40-49,premefalse,15-19,0-2,True,right,left_up,recurrence-events
1,50-59,ge40,15-19,0-2,False,right,central,false-recurrence-events
2,50-59,ge40,35-39,0-2,False,left,left_low,recurrence-events
3,40-49,premefalse,35-39,0-2,True,right,left_low,false-recurrence-events
4,40-49,premefalse,30-34,3-5,True,left,right_up,recurrence-events

In [16]:
dataset[categorical].isnull().sum()

age             0
mefalsepause    0
tumor-size      0
inv-falsedes    0
falsede-caps    8
breast          0
breast-quad     1
class           0
dtype: int64

In [17]:
for var in categorical: 
    
    print(dataset[var].value_counts())

50-59    91
40-49    87
60-69    53
30-39    34
70-79     6
20-29     1
Name: age, dtype: int64
premefalse    143
ge40          122
lt40            7
Name: mefalsepause, dtype: int64
30-34    60
25-29    51
20-24    47
15-19    26
10-14    26
40-44    21
35-39    18
0-4       8
50-54     8
5-9       4
45-49     3
Name: tumor-size, dtype: int64
0-2      200
3-5       36
6-8       16
9-11      10
15-17      6
12-14      3
24-26      1
Name: inv-falsedes, dtype: int64
False    209
True      55
Name: falsede-caps, dtype: int64
left     143
right    129
Name: breast, dtype: int64
left_low     103
left_up       92
right_up      32
right_low     24
central       20
Name: breast-quad, dtype: int64
false-recurrence-events    191
recurrence-events           81
Name: class, dtype: int64

In [18]:
for var in categorical:
    
    print(var, ' contains ', len(dataset[var].unique()), ' labels')

age  contains  6  labels
mefalsepause  contains  3  labels
tumor-size  contains  11  labels
inv-falsedes  contains  7  labels
falsede-caps  contains  3  labels
breast  contains  2  labels
breast-quad  contains  6  labels
class  contains  2  labels

In [20]:
numerical = [var for var in dataset.columns if dataset[var].dtype!='O']
print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are :', numerical)

There are 2 numerical variables

The numerical variables are : ['deg-malig', 'irradiat']

In [21]:
X = dataset.drop(['class'], axis=1)
y = dataset['class']

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [23]:
X_train.shape, X_test.shape

((190, 9), (82, 9))

In [24]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 3.1 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [25]:
import category_encoders as ce

In [26]:
encoder = ce.OneHotEncoder(cols=['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps', 'deg-malig', 'breast', 'breast-quad', 'irradiat'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [27]:
X_train.shape

(190, 41)

In [28]:
X_test.head()

,age_1,age_2,age_3,age_4,age_5,mefalsepause_1,mefalsepause_2,mefalsepause_3,tumor-size_1,tumor-size_2,...,deg-malig_3,breast_1,breast_2,breast-quad_1,breast-quad_2,breast-quad_3,breast-quad_4,breast-quad_5,irradiat_1,irradiat_2
217,0,1,0,0,0,0,1,0,1,0,...,1,0,1,1,0,0,0,0,0,1
258,1,0,0,0,0,1,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1
201,0,1,0,0,0,0,1,0,1,0,...,0,0,1,0,0,1,0,0,1,0
111,0,0,0,1,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
237,0,0,1,0,0,1,0,0,0,1,...,0,0,1,0,0,1,0,0,1,0

In [29]:
X_test.shape

(82, 41)

In [30]:
cols = X_train.columns
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])
X_train.head()

,age_1,age_2,age_3,age_4,age_5,mefalsepause_1,mefalsepause_2,mefalsepause_3,tumor-size_1,tumor-size_2,...,deg-malig_3,breast_1,breast_2,breast-quad_1,breast-quad_2,breast-quad_3,breast-quad_4,breast-quad_5,irradiat_1,irradiat_2
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [31]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [32]:
y_pred = gnb.predict(X_test)
y_pred

array(['false-recurrence-events', 'recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'recurrence-events', 'recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'false-recurrence-events',
       'recurrence-events', 'false-recurrence-events',
       'false-recurrence-events', 'recurrence-events',
       'false-recurrence-events'], dtype='<U23')

In [33]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.6220