Mencoba menggunakan klasifikasi Naive Bayes untuk iris data set

Untuk mengimplementasikan Klasifikasi Naive Bayes, kita akan menggunakan Dataset Bunga Iris yang sangat terkenal yang terdiri dari 3 kelas bunga. Dalam hal ini, ada 4 variabel independen yaitu, sepal_length , sepal_width , petal_length dan petal_width . Variabel dependen adalah spesies yang akan kita perkirakan dengan menggunakan empat fitur independen bunga.

Import LIBRARY yang akan digunakan

In [1]:
#import library yang diperlukan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Code dibawah ini digunakan untuk mengimpor dan melihat data menggunakan library pandas

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/LuluatulMaknunah21-048/Pendata/main/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Memisahkan data set menjadi data latih dan data uji

Pada kumpulan data ini terdapat 150 baris dengan masing-masing 50 baris dari 3 kelas. Karena setiap kelas diberikan secara berurutan, kita perlu membagi dataset secara acak. Di sini, kami memiliki test_size=0.2, yang berarti bahwa 20% dari dataset akan digunakan untuk tujuan pengujian sebagai set pengujian dan 80% sisanya akan digunakan sebagai set pelatihan untuk melatih model klasifikasi Naive Bayes.

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

Penskalaan fitur

Dataset diperkecil ke rentang yang lebih kecil menggunakan opsi Penskalaan Fitur. Dalam hal ini, nilai X_traindan X_test diperkecil ke nilai yang lebih kecil untuk meningkatkan kecepatan program.

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Latih klasifikasi naive bayes pata set pelatihan

kelas GaussianNB yang digunakan dari sklearn.naive_bayesperpustakaan. Disini kita menggunakan model Gaussian, ada beberapa model lain seperti Bernoulli, Categorical dan Multinomial. Di sini, kami menetapkan kelas GaussianNB ke variabel classifierdan menyesuaikan nilai X_train dan y_train untuk tujuan pelatihan.

In [5]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=9)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=9)

Memprediksi hasil tes

Setelah model dilatih, kami menggunakan the classifier.predict()untuk memprediksi nilai untuk Test set dan nilai yang diprediksi disimpan ke variabely_pred.

In [6]:
y_pred = classifier.predict(X_test) 
y_pred

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array(['versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa'], dtype=object)

matriks confusion dan Akurasi

In [7]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  1.0

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]], dtype=int64)

Dari matriks di atas, kami menyimpulkan bahwa, dari 30 set data tes, 29 diklasifikasikan dengan benar dan hanya 1 yang salah diklasifikasikan. Ini memberi kami akurasi tinggi 96,67%.

Membandingkan Nilai Riil dengan Nilai Prediksi

In [8]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   versicolor       versicolor
1       setosa           setosa
2    virginica        virginica
3   versicolor       versicolor
4   versicolor       versicolor
5       setosa           setosa
6   versicolor       versicolor
7    virginica        virginica
8   versicolor       versicolor
9   versicolor       versicolor
10   virginica        virginica
11      setosa           setosa
12      setosa           setosa
13      setosa           setosa
14      setosa           setosa
15  versicolor       versicolor
16   virginica        virginica
17  versicolor       versicolor
18  versicolor       versicolor
19   virginica        virginica
20      setosa           setosa
21   virginica        virginica
22      setosa           setosa
23   virginica        virginica
24   virginica        virginica
25   virginica        virginica
26   virginica        virginica
27   virginica        virginica
28      setosa           setosa
29      setosa           setosa

dalam hal ini kita telah berhasil membangun Model Klasifikasi Naive Bayes yang mampu mengklasifikasikan bunga berdasarkan 4 fitur karakteristik. Model ini dapat diimplementasikan dan diuji dengan beberapa dataset klasifikasi lain yang tersedia di internet.